							<div id="sidebar1">

								<!-- Sidebar 1 -->

									<section>
										<h2>News</h2>
										{% for post in paginator.posts %}
                                        <div>
                                            <a href="{{ post.url | prepend: site.baseurl }}">
                                                <h3 class="post-title">{{ post.title }}</h3>
                                            </a>
                                            <p class="post-meta">
                                                {{ post.content | strip_html | truncatewords:75}}
                                                <br>
                                                <a href="{{ post.url }}">Read more...</a>
                                                <br/>
                                                (<strong>{{ post.date | date: "%B %-d, %Y" }}</strong>)
                                            </p>
                                            
                                        </div>
                                        <hr>
                                        {% endfor %}
										<footer>
											<a href="#" class="button">Continue Reading</a>
										</footer>
									</section>

							</div>
