<div id="sidebar2">

								<!-- Sidebar 2 -->
									<section>
										<h3>Sponsors</h3>
										<div class="sponsor-list" style="padding-left: 0; padding-bottom: 0">
                                            <p>
                                                <a href="https://www.oet.pt/portal/" target="_blank">
                                                    <span class="image featured"><img alt="oet" title="oet" src="{{ site.baseurl }}/images/sponsors/OET.jpg" /></span>
                                                </a>
											</p>
                                            <p>
                                                <a href="http://www.celfinet.com/" target="_blank">
                                                    <span class="image featured"><img alt="celfinet" title="celfinet" src="{{ site.baseurl }}/images/sponsors/celfinet.jpg" /></span>
                                                </a>
											</p>
                                            <p>
                                                <a href="https://www.ipl.pt/investigacao/politecid" target="_blank">
                                                    <span class="image featured"><img alt="politec" title="politec" src="{{ site.baseurl }}/images/sponsors/politec.png" /></span>
                                                </a>
											</p>
                                            <p>
                                                <a href="http://www.anacom.pt/" target="_blank">
                                                    <span class="image featured"><img alt="anacom" title="anacom" src="{{ site.baseurl }}/images/sponsors/anacom.jpg" /></span>
                                                </a>
											</p>
											<p>
                                                <a href="http://www.ipl.pt/" target="_blank">
                                                    <span class="image featured"><img alt="IPL" title="IPL" src="{{ site.baseurl }}/images/sponsors/IPLisboa.jpg" /></span>
                                                </a>
											</p>
											<p>
                                                <a href="http://www.adeetc.isel.pt/pt/" target="_blank">
                                                    <span class="image featured"><img alt="ADEETC" title="ISEL ADEETC" src="{{ site.baseurl }}/images/sponsors/isel-adeetc.jpg" /></span>
                                                </a>
											</p>
											<p>
                                                <a href="http://www.isel.pt/" target="_blank">
                                                    <span class="image featured"><img alt="ISEL" title="ISEL" src="{{ site.baseurl }}/images/sponsors/logo-isel.png" /></span>
                                                </a>
											</p>
                                            <p>
                                                <a href="http://journals.isel.pt/index.php/i-ETC" target="_blank">
                                                    <span class="image featured"><img alt="iETC" title="iETC" src="{{ site.baseurl }}/images/sponsors/ITEC.png" /></span>
                                                </a>
											</p>
                                            <p>
                                                <a href="https://www.cgd.pt/" target="_blank">
                                                    <span class="image featured"><img alt="cgd" title="cgd" src="{{ site.baseurl }}/images/sponsors/cgd.jpg" /></span>
                                                </a>
											</p>
                                            </div>
									</section>

									<!--<section>
										<h3>Just a Subheading</h3>
										<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
										Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
										Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
										<footer>
											<a href="#" class="button">Continue Reading</a>
										</footer>
									</section>-->

							</div>