<div id="sidebar2">

								<!-- Sidebar 2 -->
									<section>
										<h4>Hero Sponsors</h4>
										<div class="sponsor-list" style="padding-left: 0; padding-bottom: 0">
											<p>
                                                <a href="http://www.adeetc.isel.pt/pt/" target="_blank">
                                                    <span class="image featured"><img alt="ADEETC" title="ISEL ADEETC" src="{{ site.baseurl }}/images/sponsors/isel-adeetc.jpg" /></span>
                                                </a>
											</p>
										</div>
										<h4>Champion Sponsors</h4>
										<div class="sponsor-list">
											<p>
                                                <a href="http://www.isel.pt/" target="_blank">
                                                    <span class="image featured"><img alt="ISEL" title="ISEL" src="{{ site.baseurl }}/images/sponsors/logo-isel.png" /></span>
                                                </a>
											</p>
											<p>
                                                <a href="http://www.ipl.pt/" target="_blank">
                                                    <span class="image featured"><img alt="IPL" title="IPL" src="{{ site.baseurl }}/images/sponsors/IPLisboa.jpg" /></span>
                                                </a>
											</p>
										</div>
										<div>
											<a href="http://www.adeetc.isel.pt/pt/">See all sponsors.</a>
										</div>
									</section>

									<!--<section>
										<h3>Just a Subheading</h3>
										<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
										Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
										Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>
										<footer>
											<a href="#" class="button">Continue Reading</a>
										</footer>
									</section>-->

							</div>